name: cache-23c313f

on:
  push:
  workflow_dispatch:

jobs:
  cache:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache dependencies
        id: cache-23c313f
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: cache-23c313f

      - name: prime-cache-23c313f
        run: echo Cache hit: ${{ steps.cache-23c313f.outputs.cache-hit }}
